/*!
*   _____       _             __                 _____                               ______ _       _   _
*  |_   _|     | |           / _|               |_   _|                             |  ____| |     | | (_)
*    | |  _ __ | |_ ___ _ __| |_ __ _  ___ ___    | |  ___ ___  _ __  ___   ______  | |__  | | __ _| |_ _  ___ ___  _ __
*    | | | '_ \| __/ _ \ '__|  _/ _` |/ __/ _ \   | | / __/ _ \| '_ \/ __| |______| |  __| | |/ _` | __| |/ __/ _ \| '_ \
*   _| |_| | | | ||  __/ |  | || (_| | (_|  __/  _| || (_| (_) | | | \__ \          | |    | | (_| | |_| | (_| (_) | | | |
*  |_____|_| |_|\__\___|_|  |_| \__,_|\___\___| |_____\___\___/|_| |_|___/          |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*                         UIcons 2.4.2 - https://www.flaticon.com/uicons/interface-icons
*/
@font-face {
    font-family: "uicons-brands";
    src: url("../../webfonts/uicons-brands.woff2") format("woff2"),
    url("../../webfonts/uicons-brands.woff") format("woff"),
    url("../../webfonts/uicons-brands.eot#iefix") format("embedded-opentype");
    font-display: swap;
}
    i[class^="fi-brands-"]:before, i[class*=" fi-brands-"]:before, span[class^="fi-brands-"]:before, span[class*="fi-brands-"]:before {
font-family: uicons-brands !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

        .variable-selector-00:before {
    content: "\fe00";
    }
        .variable-selector-01:before {
    content: "\fe01";
    }
        .variable-selector-02:before {
    content: "\fe02";
    }
        .variable-selector-03:before {
    content: "\fe03";
    }
        .variable-selector-04:before {
    content: "\fe04";
    }
        .variable-selector-05:before {
    content: "\fe05";
    }
        .variable-selector-06:before {
    content: "\fe06";
    }
        .variable-selector-07:before {
    content: "\fe07";
    }
        .variable-selector-08:before {
    content: "\fe08";
    }
        .variable-selector-09:before {
    content: "\fe09";
    }
        .variable-selector-0a:before {
    content: "\fe0a";
    }
        .variable-selector-0b:before {
    content: "\fe0b";
    }
        .variable-selector-0c:before {
    content: "\fe0c";
    }
        .variable-selector-0d:before {
    content: "\fe0d";
    }
        .variable-selector-0e:before {
    content: "\fe0e";
    }
        .variable-selector-0f:before {
    content: "\fe0f";
    }
        .combining-half-marks-00:before {
    content: "\fe20";
    }
        .combining-half-marks-01:before {
    content: "\fe21";
    }
        .combining-half-marks-02:before {
    content: "\fe22";
    }
        .combining-half-marks-03:before {
    content: "\fe23";
    }
        .combining-half-marks-04:before {
    content: "\fe24";
    }
        .combining-half-marks-05:before {
    content: "\fe25";
    }
        .combining-half-marks-06:before {
    content: "\fe26";
    }
        .combining-half-marks-07:before {
    content: "\fe27";
    }
        .combining-half-marks-08:before {
    content: "\fe28";
    }
        .combining-half-marks-09:before {
    content: "\fe29";
    }
        .combining-half-marks-0a:before {
    content: "\fe2a";
    }
        .combining-half-marks-0b:before {
    content: "\fe2b";
    }
        .combining-half-marks-0c:before {
    content: "\fe2c";
    }
        .combining-half-marks-0d:before {
    content: "\fe2d";
    }
        .combining-half-marks-0e:before {
    content: "\fe2e";
    }
        .combining-half-marks-0f:before {
    content: "\fe2f";
    }
        .zero-width-no-break-space-0f:before {
    content: "\feff";
    }
        .fi-brands-3m:before {
    content: "\f101";
    }
        .fi-brands-500px:before {
    content: "\f102";
    }
        .fi-brands-abbot-laboratories:before {
    content: "\f103";
    }
        .fi-brands-accusoft:before {
    content: "\f104";
    }
        .fi-brands-acrobat:before {
    content: "\f105";
    }
        .fi-brands-adobe:before {
    content: "\f106";
    }
        .fi-brands-aecom:before {
    content: "\f107";
    }
        .fi-brands-aero:before {
    content: "\f108";
    }
        .fi-brands-after-effects:before {
    content: "\f109";
    }
        .fi-brands-airbnb:before {
    content: "\f10a";
    }
        .fi-brands-algolia:before {
    content: "\f10b";
    }
        .fi-brands-amd:before {
    content: "\f10c";
    }
        .fi-brands-american-express:before {
    content: "\f10d";
    }
        .fi-brands-android:before {
    content: "\f10e";
    }
        .fi-brands-animate:before {
    content: "\f10f";
    }
        .fi-brands-app-store-ios:before {
    content: "\f110";
    }
        .fi-brands-apple-pay:before {
    content: "\f111";
    }
        .fi-brands-apple:before {
    content: "\f112";
    }
        .fi-brands-artstation:before {
    content: "\f113";
    }
        .fi-brands-astrazeneca:before {
    content: "\f114";
    }
        .fi-brands-asus:before {
    content: "\f115";
    }
        .fi-brands-atandt:before {
    content: "\f116";
    }
        .fi-brands-atlassian:before {
    content: "\f117";
    }
        .fi-brands-atom:before {
    content: "\f118";
    }
        .fi-brands-audition:before {
    content: "\f119";
    }
        .fi-brands-behance:before {
    content: "\f11a";
    }
        .fi-brands-bitcoin:before {
    content: "\f11b";
    }
        .fi-brands-blackberry:before {
    content: "\f11c";
    }
        .fi-brands-blogger:before {
    content: "\f11d";
    }
        .fi-brands-bluetooth:before {
    content: "\f11e";
    }
        .fi-brands-bootstrap:before {
    content: "\f11f";
    }
        .fi-brands-bridgestone:before {
    content: "\f120";
    }
        .fi-brands-burger-king:before {
    content: "\f121";
    }
        .fi-brands-c:before {
    content: "\f122";
    }
        .fi-brands-capture:before {
    content: "\f123";
    }
        .fi-brands-cc-amazon-pay:before {
    content: "\f124";
    }
        .fi-brands-cc-apple-pay:before {
    content: "\f125";
    }
        .fi-brands-cc-diners-club:before {
    content: "\f126";
    }
        .fi-brands-cc-visa:before {
    content: "\f127";
    }
        .fi-brands-centos:before {
    content: "\f128";
    }
        .fi-brands-character:before {
    content: "\f129";
    }
        .fi-brands-chromecast:before {
    content: "\f12a";
    }
        .fi-brands-cloudflare:before {
    content: "\f12b";
    }
        .fi-brands-confluence:before {
    content: "\f12c";
    }
        .fi-brands-creative-commons-by:before {
    content: "\f12d";
    }
        .fi-brands-creative-commons-nc-eu:before {
    content: "\f12e";
    }
        .fi-brands-creative-commons-nc-jp:before {
    content: "\f12f";
    }
        .fi-brands-creative-commons-nc:before {
    content: "\f130";
    }
        .fi-brands-creative-commons-nd:before {
    content: "\f131";
    }
        .fi-brands-creative-commons-pd-alt:before {
    content: "\f132";
    }
        .fi-brands-creative-commons-pd:before {
    content: "\f133";
    }
        .fi-brands-creative-commons-remix:before {
    content: "\f134";
    }
        .fi-brands-creative-commons-sa:before {
    content: "\f135";
    }
        .fi-brands-creative-commons-sampling-plus:before {
    content: "\f136";
    }
        .fi-brands-creative-commons-sampling:before {
    content: "\f137";
    }
        .fi-brands-creative-commons-share:before {
    content: "\f138";
    }
        .fi-brands-creative-commons-zero:before {
    content: "\f139";
    }
        .fi-brands-creative-commons:before {
    content: "\f13a";
    }
        .fi-brands-css3-alt:before {
    content: "\f13b";
    }
        .fi-brands-css3:before {
    content: "\f13c";
    }
        .fi-brands-dailymotion:before {
    content: "\f13d";
    }
        .fi-brands-deezer:before {
    content: "\f13e";
    }
        .fi-brands-delphi:before {
    content: "\f13f";
    }
        .fi-brands-dev:before {
    content: "\f140";
    }
        .fi-brands-devianart:before {
    content: "\f141";
    }
        .fi-brands-digg:before {
    content: "\f142";
    }
        .fi-brands-dimension:before {
    content: "\f143";
    }
        .fi-brands-discord:before {
    content: "\f144";
    }
        .fi-brands-docker:before {
    content: "\f145";
    }
        .fi-brands-dribbble:before {
    content: "\f146";
    }
        .fi-brands-dropbox:before {
    content: "\f147";
    }
        .fi-brands-drupal:before {
    content: "\f148";
    }
        .fi-brands-ebay:before {
    content: "\f149";
    }
        .fi-brands-elementor:before {
    content: "\f14a";
    }
        .fi-brands-ethereum:before {
    content: "\f14b";
    }
        .fi-brands-etsy:before {
    content: "\f14c";
    }
        .fi-brands-evernote:before {
    content: "\f14d";
    }
        .fi-brands-facebook-messenger:before {
    content: "\f14e";
    }
        .fi-brands-facebook:before {
    content: "\f14f";
    }
        .fi-brands-fedex:before {
    content: "\f150";
    }
        .fi-brands-figma:before {
    content: "\f151";
    }
        .fi-brands-firefox-browser:before {
    content: "\f152";
    }
        .fi-brands-firefox:before {
    content: "\f153";
    }
        .fi-brands-flaticon-1:before {
    content: "\f154";
    }
        .fi-brands-flaticon:before {
    content: "\f155";
    }
        .fi-brands-flickr:before {
    content: "\f156";
    }
        .fi-brands-flipboard:before {
    content: "\f157";
    }
        .fi-brands-fonts:before {
    content: "\f158";
    }
        .fi-brands-foursquare:before {
    content: "\f159";
    }
        .fi-brands-freepik-1:before {
    content: "\f15a";
    }
        .fi-brands-freepik:before {
    content: "\f15b";
    }
        .fi-brands-fresco:before {
    content: "\f15c";
    }
        .fi-brands-github:before {
    content: "\f15d";
    }
        .fi-brands-gitlab:before {
    content: "\f15e";
    }
        .fi-brands-goodreads:before {
    content: "\f15f";
    }
        .fi-brands-google:before {
    content: "\f160";
    }
        .fi-brands-haskell:before {
    content: "\f161";
    }
        .fi-brands-hbo:before {
    content: "\f162";
    }
        .fi-brands-hotjar:before {
    content: "\f163";
    }
        .fi-brands-html5:before {
    content: "\f164";
    }
        .fi-brands-huawei:before {
    content: "\f165";
    }
        .fi-brands-hubspot:before {
    content: "\f166";
    }
        .fi-brands-ibm:before {
    content: "\f167";
    }
        .fi-brands-iconfinder:before {
    content: "\f168";
    }
        .fi-brands-illustrator-draw:before {
    content: "\f169";
    }
        .fi-brands-illustrator:before {
    content: "\f16a";
    }
        .fi-brands-imdb:before {
    content: "\f16b";
    }
        .fi-brands-incopy:before {
    content: "\f16c";
    }
        .fi-brands-indesign:before {
    content: "\f16d";
    }
        .fi-brands-instagram:before {
    content: "\f16e";
    }
        .fi-brands-intel:before {
    content: "\f16f";
    }
        .fi-brands-invision:before {
    content: "\f170";
    }
        .fi-brands-itunes:before {
    content: "\f171";
    }
        .fi-brands-janseen:before {
    content: "\f172";
    }
        .fi-brands-java:before {
    content: "\f173";
    }
        .fi-brands-jcb:before {
    content: "\f174";
    }
        .fi-brands-jira:before {
    content: "\f175";
    }
        .fi-brands-johnson-and-johnson:before {
    content: "\f176";
    }
        .fi-brands-joomla:before {
    content: "\f177";
    }
        .fi-brands-js:before {
    content: "\f178";
    }
        .fi-brands-kickstarter:before {
    content: "\f179";
    }
        .fi-brands-line:before {
    content: "\f17a";
    }
        .fi-brands-linkedin:before {
    content: "\f17b";
    }
        .fi-brands-lisp:before {
    content: "\f17c";
    }
        .fi-brands-mailchimp:before {
    content: "\f17d";
    }
        .fi-brands-marriott-international:before {
    content: "\f17e";
    }
        .fi-brands-mcdonalds:before {
    content: "\f17f";
    }
        .fi-brands-media-encoder:before {
    content: "\f180";
    }
        .fi-brands-medium:before {
    content: "\f181";
    }
        .fi-brands-meta:before {
    content: "\f182";
    }
        .fi-brands-microsoft-edge:before {
    content: "\f183";
    }
        .fi-brands-microsoft-explorer:before {
    content: "\f184";
    }
        .fi-brands-microsoft:before {
    content: "\f185";
    }
        .fi-brands-mysql:before {
    content: "\f186";
    }
        .fi-brands-napster:before {
    content: "\f187";
    }
        .fi-brands-nestle:before {
    content: "\f188";
    }
        .fi-brands-netflix:before {
    content: "\f189";
    }
        .fi-brands-node-js:before {
    content: "\f18a";
    }
        .fi-brands-nvidia:before {
    content: "\f18b";
    }
        .fi-brands-oracle:before {
    content: "\f18c";
    }
        .fi-brands-patreon:before {
    content: "\f18d";
    }
        .fi-brands-paypal:before {
    content: "\f18e";
    }
        .fi-brands-pfizer:before {
    content: "\f18f";
    }
        .fi-brands-photoshop-camera:before {
    content: "\f190";
    }
        .fi-brands-photoshop-express:before {
    content: "\f191";
    }
        .fi-brands-photoshop-lightroom-classic:before {
    content: "\f192";
    }
        .fi-brands-photoshop-lightroom:before {
    content: "\f193";
    }
        .fi-brands-photoshop:before {
    content: "\f194";
    }
        .fi-brands-php:before {
    content: "\f195";
    }
        .fi-brands-pinterest:before {
    content: "\f196";
    }
        .fi-brands-postgre:before {
    content: "\f197";
    }
        .fi-brands-premiere-rush:before {
    content: "\f198";
    }
        .fi-brands-premiere:before {
    content: "\f199";
    }
        .fi-brands-product-hunt:before {
    content: "\f19a";
    }
        .fi-brands-python:before {
    content: "\f19b";
    }
        .fi-brands-raspberry-pi:before {
    content: "\f19c";
    }
        .fi-brands-reddit:before {
    content: "\f19d";
    }
        .fi-brands-samsung:before {
    content: "\f19e";
    }
        .fi-brands-sap:before {
    content: "\f19f";
    }
        .fi-brands-sass:before {
    content: "\f1a0";
    }
        .fi-brands-shopify:before {
    content: "\f1a1";
    }
        .fi-brands-siemens:before {
    content: "\f1a2";
    }
        .fi-brands-sketch:before {
    content: "\f1a3";
    }
        .fi-brands-skype:before {
    content: "\f1a4";
    }
        .fi-brands-slack:before {
    content: "\f1a5";
    }
        .fi-brands-slidesgo:before {
    content: "\f1a6";
    }
        .fi-brands-snapchat:before {
    content: "\f1a7";
    }
        .fi-brands-sony:before {
    content: "\f1a8";
    }
        .fi-brands-soundcloud:before {
    content: "\f1a9";
    }
        .fi-brands-spark:before {
    content: "\f1aa";
    }
        .fi-brands-spotify:before {
    content: "\f1ab";
    }
        .fi-brands-starbucks:before {
    content: "\f1ac";
    }
        .fi-brands-stock:before {
    content: "\f1ad";
    }
        .fi-brands-storyset:before {
    content: "\f1ae";
    }
        .fi-brands-stripe:before {
    content: "\f1af";
    }
        .fi-brands-substance-3d-designer:before {
    content: "\f1b0";
    }
        .fi-brands-substance-3d-painter:before {
    content: "\f1b1";
    }
        .fi-brands-substance-3d-sampler:before {
    content: "\f1b2";
    }
        .fi-brands-substance-3d-stager:before {
    content: "\f1b3";
    }
        .fi-brands-swift:before {
    content: "\f1b4";
    }
        .fi-brands-t-mobile:before {
    content: "\f1b5";
    }
        .fi-brands-telegram:before {
    content: "\f1b6";
    }
        .fi-brands-tencent:before {
    content: "\f1b7";
    }
        .fi-brands-the-home-depot:before {
    content: "\f1b8";
    }
        .fi-brands-tik-tok:before {
    content: "\f1b9";
    }
        .fi-brands-trello:before {
    content: "\f1ba";
    }
        .fi-brands-tripadvisor:before {
    content: "\f1bb";
    }
        .fi-brands-tumblr:before {
    content: "\f1bc";
    }
        .fi-brands-twitch:before {
    content: "\f1bd";
    }
        .fi-brands-twitter-alt-circle:before {
    content: "\f1be";
    }
        .fi-brands-twitter-alt-square:before {
    content: "\f1bf";
    }
        .fi-brands-twitter-alt:before {
    content: "\f1c0";
    }
        .fi-brands-twitter:before {
    content: "\f1c1";
    }
        .fi-brands-typescript:before {
    content: "\f1c2";
    }
        .fi-brands-uber:before {
    content: "\f1c3";
    }
        .fi-brands-ubuntu:before {
    content: "\f1c4";
    }
        .fi-brands-unilever:before {
    content: "\f1c5";
    }
        .fi-brands-unity:before {
    content: "\f1c6";
    }
        .fi-brands-unsplash:before {
    content: "\f1c7";
    }
        .fi-brands-ups:before {
    content: "\f1c8";
    }
        .fi-brands-usaa:before {
    content: "\f1c9";
    }
        .fi-brands-verizon:before {
    content: "\f1ca";
    }
        .fi-brands-videvo:before {
    content: "\f1cb";
    }
        .fi-brands-vimeo:before {
    content: "\f1cc";
    }
        .fi-brands-visa:before {
    content: "\f1cd";
    }
        .fi-brands-visual-basic:before {
    content: "\f1ce";
    }
        .fi-brands-vk:before {
    content: "\f1cf";
    }
        .fi-brands-walmart:before {
    content: "\f1d0";
    }
        .fi-brands-wepik:before {
    content: "\f1d1";
    }
        .fi-brands-whatsapp:before {
    content: "\f1d2";
    }
        .fi-brands-wikipedia:before {
    content: "\f1d3";
    }
        .fi-brands-windows:before {
    content: "\f1d4";
    }
        .fi-brands-wix:before {
    content: "\f1d5";
    }
        .fi-brands-wordpress:before {
    content: "\f1d6";
    }
        .fi-brands-xd:before {
    content: "\f1d7";
    }
        .fi-brands-xing:before {
    content: "\f1d8";
    }
        .fi-brands-yahoo:before {
    content: "\f1d9";
    }
        .fi-brands-yandex:before {
    content: "\f1da";
    }
        .fi-brands-yelp:before {
    content: "\f1db";
    }
        .fi-brands-youtube:before {
    content: "\f1dc";
    }
        .fi-brands-zoom:before {
    content: "\f1dd";
    }
